/* Docsy-delta full file override: we're not tracking changes to the Docsy file of the same name. */
// cSpell:ignore cncf docsy otca

.td-navbar {
  .navbar-brand {
    @include media-breakpoint-up(md) {
      padding: 0;
    }
    svg {
      height: 80px;
    }
    .navbar-brand__name {
      display: none;
    }
  }
}

.td-outer {
  padding-top: 5.5rem;
 }
